<div class="toDoFilterAndSearch">

  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-select [(value)]="selected" (selectionChange)=todoFilter(selected)>
        <mat-option value="All Todos">All Todos</mat-option>
        <mat-option value="Completed">Completed</mat-option>
        <mat-option value="In progress">In progress</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="input-clear-button" color="primary">
      <input matInput type="text" placeholder="Search..." [(ngModel)]="searchKey" (input)="onSearchChange(searchKey)">
      <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
  </div>

</div>