<mat-sidenav-container [hasBackdrop]="(isHandset$ | async) ? true : false" class="sidenav-container">
  <mat-sidenav 
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      
      <div fxLayoutAlign="center center">
        <img src="/assets/images/rani-logo-dark-english.svg" alt="Logo!" height="45px;">
      </div>

      <div fxFlexAlign="start">
        <button
          class="sidenav-close-button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
        </button>
      </div>

    </mat-toolbar>
    <mat-nav-list (click)="onClickClose()">
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/todo" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        <span>Todo</span>
      </a>
      <a mat-list-item routerLink="/member" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>Member</span>
      </a>
      <a mat-list-item routerLink="/payment-and-billing" routerLinkActive="active">
        <mat-icon>payment</mat-icon>
        <span>Payment & Billing</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="primaryToolBar">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async) || (!drawer.opened)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <!-- show only in large screens & when route path on todo component -->
      <div *ngIf="!(isHandset$ | async) && (router.url === '/todo')" class="primaryToolBar-notHandset">
        <mat-form-field appearance="outline">
          <mat-select [(value)]="selected">
            <mat-option value="option1">All Todos</mat-option>
            <mat-option value="option2">Completed</mat-option>
            <mat-option value="option3">In progress</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="input-clear-button" color="primary">
          <input matInput type="text" placeholder="Search..." [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!-- show only in small screens & when route path on todo component -->
      <div *ngIf="(isHandset$ | async) && (router.url === '/todo')" class="primaryToolBar-handset">
        <button mat-raised-button (click)="openDialog()">Filter & Search</button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
