.todo-container {
    padding: 16px;
}
.tasksCategory:not(:first-child) {
    margin-top: 32px;
}
.tasksCategory:first-child {
    margin-top: 16px;
}
.taskType {
    font-size: 13px;
    background: #E0E0E0;
    padding: 9px;
    border-radius: 100px;
}

.completed {
    text-decoration: line-through;
}

@media (max-width: 499px) {
    .mat-list-option {
        height:90px;
    }
}