<div fxLayout="column" fxLayoutAlign=" stretch" class="todo-container">
  <div class="tasksCategory">
    <h2 class="mat-h2">Design & Development</h2>
    <mat-card>
      <mat-selection-list>
        <div *ngFor="let todo of todos | argsFilter:dDFilter">
          <mat-list-option (click)="onSelect(todo)" checkboxPosition="before"
            [selected]="todo.completed">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div [class.completed]="todo.completed">{{todo.description}}</div>
              <div [class.taskType]="todo.type">{{todo.type}}</div>
            </div>
          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-card>
  </div>
  <div class="tasksCategory">
    <h2 class="mat-h2">Improvments</h2>
    <mat-card>
      <mat-selection-list>
        <div *ngFor="let todo of todos | argsFilter:improvmentFilter">
          <mat-list-option (click)="onSelect(todo)" checkboxPosition="before"
            [selected]="todo.completed">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div [class.completed]="todo.completed">{{todo.description}}</div>
              <div [class.taskType]="todo.type">{{todo.type}}</div>
            </div>
          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-card>
  </div>
  <div class="tasksCategory">
    <h2 class="mat-h2">Other</h2>
    <mat-card>
      <mat-selection-list>
        <div *ngFor="let todo of todos | argsFilter:otherFilter">
          <mat-list-option (click)="onSelect(todo)" checkboxPosition="before"
            [selected]="todo.completed">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div [class.completed]="todo.completed">{{todo.description}}</div>
              <div [class.taskType]="todo.type">{{todo.type}}</div>
            </div>
          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-card>
  </div>
</div>