<div fxLayout="column" fxLayoutAlign=" stretch" class="todo-container">
  <div>
    <h2 class="mat-h2">test</h2>
    <mat-card>
      <mat-selection-list>
        <mat-list-option  
        *ngFor="let todo of todos"
        (click)="onSelect(todo)"
        checkboxPosition="before"
        [selected]="todo.completed">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div [class.completed]="todo.completed">{{todo.description}}</div>
            <div class="taskType">{{todo.type}}</div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>
</div>