<section fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly center" class="show-case-container">

  <div fxFlexOrder.sm="3" fxFlexOrder.xs="3" fxFlexAlign.sm="auto" fxFlexAlign.xs="auto" fxFlexAlign="end" class="show-case-content-1">
    <div class="photo-credit">
        Photo by <a href="https://unsplash.com/photos/OHOU-5UVIYQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">SpaceX</a> <br>
        on <a href="https://unsplash.com/search/photos/space?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
  </div>

  <div fxFlexOrder.sm="2" fxFlexOrder.xs="2" class="show-case-content-2">
    <div class="show-case-content-header">
      <h3 class="mat-display-1">Angular, Material, TypeScript, SASS, CSS</h3>
      <h1 class="mat-display-4">Web App</h1>
    </div>
  </div>

  <div fxFlexAlign.sm="auto" fxFlexAlign.xs="auto" fxFlexAlign="start" class="show-case-content-3">
    <!-- <button class="book-now-button" mat-stroked-button color="primary">
      Book Now
    </button> -->
  </div>

</section>